<a href="https://colab.research.google.com/github/Sterwinxs/Formacao-Data-Science/blob/main/4-%20Mudar_nomes_de_Colunas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

 Leitura de Arquivo CSV, atribuindo o próprio para uma Variável.

In [ ]:
base = pd.read_csv("ratings.csv")

Mudar nomes de Colunas (Neste caso mudamos todas para português).

In [5]:
base.columns= ["usuarioId", "filmeId", "nota", "momento"]
base.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931